body{
	margin:0px;
}

#body-header{
	height:65vh;
	background-image: url(macbook_mouse.jpg);
	opacity: 0.8;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

}
.header-list li{
	display:inline-block;
	margin:0px 10px 10px 0px;
}
.header-list li a{
	color:white;
	text-decoration: none;
}
.header-list li a:hover{
	color:dimgrey;
	text-decoration: underline;
	transition: color 0.5s;
}
.text-align-class{
	text-align: center;
}
.social-icon{
	padding:50px;
}
.social-icon ul li a{
	padding:0px 8px;
	border-radius: 50%;
}
.social-icon li a i:hover {
	border-radius: 50%;
    box-shadow: 0px 0px 6px 8px rgba(230, 196, 196, 0.3);
}
#about{
	height: auto;
	width:100%;
	position: relative;
	margin:auto;

}
#profile-pic{
	text-align: center;
	margin-top: -99px;
}
#profile-pic img{
	height:170px;
	width: 160px;
	border-radius: 50%;
	box-shadow:0px 0px 6px 4px #1f3c23;
}
#about div p{
	text-align: justify;
}
