#div0{
	display: inline-block;
	margin-top:20%;
	width:5%;
	height:200px;
	position: fixed;
}
#div01{
	height: 20%;
	width:100%;
}
#div02{
	height: 20%;
	width:100%;
	
}
#div03{
	height: 20%;
	width:100%;
}
#div04{
	height: 20%;
	width:100%;
}
#div05{
	height: 20%;
	width:100%;
}
#div1{
	background-color: #143d8d;
	width:100%;
	height:70px;
	margin-top:0px;
	margin-left: 0px;
	position: fixed;
	color:#fdfdff;
}
#div1 img{
	width: 60px;
	height:100%;
	vertical-align: top;
}
#div1 h1{
	display:inline-block;
	color: #fdfdff;
	margin-left: 35%;
	margin-bottom: 50%;
	vertical-align: middle;
}


#main-div{
	display: inline;
	margin-right:10px;
}
main {
    width: 70%;
    display: inline-block;
    margin-left: 5%;
}

#fitness_logo{
	padding-top: 40px;
	display:inline-block;
	width:100%;
	height:20%;
}
#article-section p{
	color:#6a6a6a;
}
#article-section h4{
	color:#ff1100;
}
aside {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin-right:0px;
    margin-top: 75px;
    margin-left: 2px;
	/*margin-left:10px;*/
	background-color: #143d8d;
	color: #ffffff;
	border-radius: 15px;
	padding-bottom: 15px;
	position:fixed;
}

button[type="submit"]{
	background-color: #143d8d;
	color:#ffffff;
	font-size: 0.9rem;
	line-height: 1rem;
	padding: 5px 7px;
	margin-top: 10px; 
	border:2px solid #ffffff;
	margin-left: 30%;
	border-radius: 5px;
}
button[type="submit"]:hover{
	color:green;
}
#div3 a{
	color:#ffffff;
	text-decoration: none;
}
#div3{
	border-top:2px solid #ffffff;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;

}
#div3 a:hover{
	color:orange;

}
#div4 button{
	margin-left: 0px;
	border:1px solid #ffffff;
}
#div4 input{
	border:2px solid #ffffff;
	margin-top: 10px;
	margin-left: 1px;
}
